.hero {
  background-color: #1c1e53;
}
.rating-view {
  background-color: #eef4fa;
}
.imgnumber {
  width: 40px;
  height: 40px;
}
.course-card {
  text-decoration: none;
  color: var(--font);
}
.imgcourse {
  max-height: 100%;
  max-width: 100%;
}
.title {
  font-size: 24px;
}
.desc {
  font-size: 16px;
}
.icon-text {
  display: flex;
  align-items: center;
  white-space: pre;
}
.rating-box {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #ffffff;
  border: 1px solid #f8d72a;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.rating-star {
  color: #f8d72a;
  margin-right: 5px;
}

.rating-text {
  font-size: 14px;
  font-weight: bold;
  color: #f8d72a;
}
.course-card {
  position: relative;
}

.rating-box {
  position: absolute;
  top: 99px;
  right: 10px;
  background-color: #1c1e53;
  border: 1px solid #1c1e53;
  border-radius: 30px;
  padding: 3px;
  display: flex;
  align-items: center;
}

.rating-star {
  color: #fcd980;
  margin-right: 5px;
}

.rating-text {
  font-size: 12px;
  font-weight: bold;
  color: white;
}
.couselbg {
  background-color: #eef4fa;
}
.registration {
  margin-top: 100px;
  margin-bottom: 100px;
}

.registration .box-left {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/ddzkvbulh/image/upload/v1689152365/regis-img_vll6cq.png");
  background-size: cover;
  padding: 100px;
  color: var(--font);
}

.registration .box-left h2 {
  font-size: 40px;
  font-weight: 600;
}

.registration .box-left p {
  font-size: 12px;
  font-weight: 400;
}

.registration .box-right {
  background-color: #1c1e53;
  color: #fafafa;
  padding: 100px;
}

.registration .box-right .btn {
  background-color: #fcd980;
  color: #000;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

footer {
  background-color: var(--color-primary);
  margin-top: 100px;
  height: 340px;
}

footer .box-title {
  color: var(--font);
}

.contact {
  color: #0a0a0a;
  background-color: var(--color-tertiary);
  width: 420px;
  height: 88px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.boxfoooter {
  color: #0a0a0a;
  background-color: var(--color-tertiary);
  width: 420px;
  height: 88px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width: 576px) {
}

@media (max-width: 768px) {
  .hero-content h1 {
    line-height: 140%;
    font-size: 34px;
  }
}
